{% extends 'base.html' %}

{% block pagetitle %} {{ title }} {% endblock pagetitle %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Title -->
      <div class="row mb-4 text-center">
        <div class="col">
          <h1 class="display-4" style="font-weight: 400; color: rgb(4, 54, 4)">
            <b>{{ title }}</b>
          </h1>
        </div>
      </div>

      <!-- Uploaded Image -->
      <div class="row mb-4 justify-content-center">
        <div class="col-md-6">
          <div class="p-3 bg-white shadow rounded-lg">
            <img
              src="{{ url_for('static', filename='uploads/' + image_filename) }}"
              width="100%"
              height="auto"
              style="max-width: 350px"
              alt="Uploaded Image"
            />
          </div>
        </div>
      </div>

      {% if crop_type and crop_details %}
      <!-- Crop Classification Results -->
      <div class="row mb-4">
        <div class="col">
          <div class="p-3 bg-white shadow rounded-lg">
            <h5><b>Crop Type:</b> {{ crop_type }}</h5>
            <p>{{ crop_details }}</p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row mb-4">
        <div class="col">
          <div class="p-3 bg-white shadow rounded-lg">
            <h5><b>Unknown Crop</b></h5>
            <p>No details available for this crop.</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock body %}
<!-- Chatbase chatbot configuration -->
<script>
  window.embeddedChatbotConfig = {
    chatbotId: "Kn_iUIqlTzwsNl0fOjYLS",
    domain: "www.chatbase.co",
  };
</script>
<script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="Kn_iUIqlTzwsNl0fOjYLS"
  domain="www.chatbase.co"
  defer
></script>