<html>
  {% extends 'base.html' %} 
  {% block pagetitle %} AI Engine {% endblock pagetitle %} 
  {% block body %}
  <div>
    <div class="container">
      <!-- For demo purpose -->
      <div class="row mb-5 text-center text-white">
        <div class="col-lg-10 mx-auto">
          <h1
            class="display-4"
            style="padding-top: 2%; font-weight: 400; color: rgb(254, 255, 254)"
          >
            <b>PlaasHelper🍇</b>
          </h1>
          <p class="lead" style="font-weight: 500; color: black">
            PlaasHelper🍇 Will Help You To Detect Disease
          </p>
        </div>
      </div>
      <!-- End -->

      <div class="row">
        <div class="col mx-auto">
          <div class="p-5 bg-white shadow rounded-lg" style="height: 95%">
            <h5><b>Why is it necessary to detect disease in plant ?</b></h5>
            <p>
              Plant diseases affect the growth of their respective species. In
              addition, some research gaps are identified from which to obtain
              greater transparency for detecting diseases in plants, even before
              their symptoms appear clearly. diagnosis is one of the most
              important aspects of a plant pathologist's training. Without
              proper identification of the disease and the disease-causing
              agent, disease control measures can be a waste of time and money
              and can lead to further plant losses. Proper disease diagnosis is
              necessary.
            </p>
          </div>
        </div>
        <div class="col mx-auto">
          <div class="p-5 bg-white shadow rounded-lg" style="height: 95%">

            <!-- Text and GIF -->
            <div class="text-center mb-4">
              <h4><b>PlaasHelper</b></h4>
              <p>
                This web app will help you identify crops by their images and detect diseases using the crop leaves.
              </p>
              <img
                src="https://cdn.pixabay.com/animation/2023/06/29/06/23/06-23-06-393_512.gif"
                alt="Plant Disease Detection Animation"
                style="max-width: 100%; height: auto;"
              />
            </div>
            <!-- End -->
          </div>
        </div>
        <div class="col mx-auto">
          <div class="p-5 bg-white shadow rounded-lg" style="height: 95%">
            <h5><b>Prevent Plant Disease follow below steps:</b></h5>
            <ol>
              <li>Follow Good Sanitation Practices.</li>
              <li>Fertilize to Keep Your Plants Healthy.</li>
              <li>Inspect Plants for Diseases Before You Bring Them Home.</li>
              <li>Allow the Soil to Warm Before Planting.</li>
              <li>Ensure a Healthy Vegetable Garden By Rotating Crops.</li>
              <li>Provide Good Air Circulation</li>
              <li>Remove Diseased Stems and Foliage</li>
            </ol>
            <a
              target="_blank"
              href="https://www.thespruce.com/prevent-plant-diseases-in-your-garden-2539511"
              class="mx-2"
              >
              <button type="button" class="btn btn-outline-success">
                More info
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const actualBtn = document.getElementById("actual-btn");

    const fileChosen = document.getElementById("file-chosen");

    actualBtn.addEventListener("change", function () {
      fileChosen.textContent = this.files[0].name;
    });
  </script>
<!-- Chatbase chatbot configuration -->
<script>
  window.embeddedChatbotConfig = {
    chatbotId: "Kn_iUIqlTzwsNl0fOjYLS",
    domain: "www.chatbase.co",
  };
</script>
<script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="Kn_iUIqlTzwsNl0fOjYLS"
  domain="www.chatbase.co"
  defer
></script>
  {% endblock body %}
</html>
