{% extends 'base.html' %}
{% block pagetitle %}Weather{% endblock pagetitle %}
{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <!-- Embed your weather app using iframe -->
      <h1 class="mb-4" style="color: white;">Weather Application</h1>
      <iframe
        src="https://simpleandeasyweatherapplication.netlify.app/"
        class="embed-responsive-item"
        style="height: 600px; width: 100%;"
        frameborder="0"
      ></iframe>

      <!-- Meteoblue Widgets -->
      <div class="mt-5 d-flex justify-content-between">
        <!-- Meteoblue 3-day widget with geolocation -->
        <iframe
          src="https://www.meteoblue.com/en/weather/widget/three?geoloc=detect&nocurrent=0&noforecast=0&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=dark"
          frameborder="0" scrolling="NO" allowtransparency="true"
          sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
          style="width: 460px; height: 590px;">
        </iframe>
        <div>
          <!-- DO NOT REMOVE THIS LINK -->
          <a href="https://www.meteoblue.com/en/weather/week/index?utm_source=three_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget"
             target="_blank" rel="noopener">meteoblue</a>
        </div>

        <!-- Meteoblue 7-day widget -->
        <iframe
          src="https://www.meteoblue.com/en/weather/widget/daily/cape-town_south-africa_3369157?geoloc=fixed&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=1&winddirection=1&uv=1&humidity=1&precipitation=1&precipitationprobability=1&spot=1&pressure=1&layout=dark"
          frameborder="0" scrolling="NO" allowtransparency="true"
          sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
          style="width: 378px; height: 467px;">
        </iframe>
        <div>
          <!-- DO NOT REMOVE THIS LINK -->
          <a href="https://www.meteoblue.com/en/weather/week/cape-town_south-africa_3369157?utm_source=daily_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget"
             target="_blank" rel="noopener">meteoblue</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
