{% extends 'base.html' %}

{% block pagetitle %}Weather{% endblock pagetitle %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="mb-4">Weather Application</h1>
      <iframe
        src="https://simpleandeasyweatherapplication.netlify.app/"
        class="embed-responsive-item"
        style="height: 600px; width: 100%;"
        frameborder="0"
      ></iframe>

      <h2 class="mt-5">Detailed Weather forecast</h2>
      
      <iframe src="https://www.meteoblue.com/en/weather/widget/three/cape-town_south-africa_3369157?geoloc=fixed&nocurrent=0&noforecast=0&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=dark"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 460px; height: 590px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/cape-town_south-africa_3369157?utm_source=three_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>


      <iframe src="https://www.meteoblue.com/en/weather/widget/daily/cape-town_south-africa_3369157?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=1&precipitation=1&precipitationprobability=1&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/cape-town_south-africa_3369157?utm_source=daily_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
    </div>
  </div>
</div>
<!-- Chatbase chatbot configuration -->
<script>
  window.embeddedChatbotConfig = {
    chatbotId: "Kn_iUIqlTzwsNl0fOjYLS",
    domain: "www.chatbase.co",
  };
</script>
<script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="Kn_iUIqlTzwsNl0fOjYLS"
  domain="www.chatbase.co"
  defer
></script>
{% endblock body %}
